
.header {
    padding: 5px 120px;
    width: 150px;
    height: 70px;
    background-color: #236B8E;
    margin-bottom: 30px;
}

.border {
    padding: 80px 50px;
    width: 400px;
    height: 450px;
    border: 1px solid #236B8E;
    border-radius: 0px;
    background-color: #9AC0CD;
}

.btn {
    padding: 10px 40px;
    background-color: #236B8E;
    color: #FFFFFF;
    font-style: oblique;
    font-weight: bold;
    border-radius: 10px;
}

.textbox {
    padding: 10px 40px;
    background-color: #e5f2f8;
    color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 20px;
}

.word {
    color: #FFFFFF;
    font-style: oblique;
    font-weight: bold;
}

.bottom {
    color: #236B8E;
    font-style: oblique;
    font-weight: bold;
}
