<html>
<head>
    <meta charset="UTF-8">
    <title> Register </title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <br />
    <div align="center">
        <div align="center" class="border">
            <div class="header">
                <h1 class="word">Register</h1>
            </div>
            <div class="word">
                <form action="/register" method="post">
                    <div class="msg">{{ message }}</div>
                    <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox" /><br />
                    <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox" /> <br />
                    <input id="confirm-password" name="confirm-password" type="password" placeholder="Enter Password Again" class="textbox" /> <br />
                    <input type="submit" class="btn" value="Sign Up"><br />
                </form>
            </div>
            <p class="bottom">Already have an account?  <a class="bottom" href="/login"> Sign In here</a></p>
        </div>
    </div>
</body>
</html>
